html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.control-div{
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.control{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 30px;
}

#tableContainer{
  max-height: 530px;
}

.people-table-head{
  position: sticky;
  top: 0;
}

.csv-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}